/* Add your CSS to this file */
article {
  display: flex;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms--display: flex;
}

.article-body {
  width: 60%;
  margin: -25px 30px 30px 30px;
}

article img {
  border-radius: 50%;
  width: 20%;
  height: 155px;
  object-fit: cover;
}

body {
  margin: 0;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 55%;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div h1 {
  float: left;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 1px;
  margin: 5px;
  border-radius: 2%;
  border: 3px solid;
  border-color: rgb(212, 212, 212);
  box-shadow: 0px 2px 5px rgb(223, 223, 223);
}

.card h3 {
  padding: 5px;
}

.card img {
  max-width: 100%;
}

.card p {
  padding: 5px;
}

.cta {
  grid-column: 2;
  margin: 10% 10% 10% 0%;
  justify-items: center;
  align-items: center;
}

main {
  clear: both;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 10px;
}

.overview-hero-image img {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin: 20px;
}

.overview-hero .container {
  display: flex;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms--display: flex;
  align-items: center;
  justify-content: center;
}

.testing .container {
  display: grid;
  grid-template-columns: 65% 35%;
}

.testing-desciption {
  grid-column: 1;
  margin: 10% 10% 10% 0%;
}
