/* Add your CSS to this file */
article {
  display: flex;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms--display: flex;
}

.article-body {
  width: 60%;
  margin: -25px 30px 30px 30px;
}

article h3 {
  font: 18px;
}
article img {
  border-radius: 50%;
  width: 20%;
  height: 155px;
  object-fit: cover;
}

body {
  margin: 0;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 60%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 1px;
  margin: 5px;
  border-radius: 5px;
  border: 3px solid;
  border-color: #e2e8f0;
  box-shadow: 0px 2px 7px #edf2f8;
}

.card h3 {
  padding: 5px;
  color: #48bb78;
  font-size: 21px;
}

.card img {
  max-width: 100%;
}

.card p {
  padding: 5px;
}

.cta {
  grid-column: 2;
  align-self: center;
  justify-self: center;
  margin: 10% 0% 10% 10%;
  width: 50%;
  border-radius: 5px;
  padding: 1em !important;
  background-color: #48bb78;
}

.cta a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em !important;
}

footer {
  padding: 20px;
  background-color: #4a5568;
  color: #fff;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

form div input {
  grid-column: span 2;
  align-self: center;
  padding: 1em !important;
  width: 500% !important;
  border-radius: 5px;
  border: 2px solid;
  border-color: #8ebba1;
}

form button {
  grid-column: 3;
  align-self: center;
  padding: 1em !important;
  background-color: #5a67d8;
  border-radius: 5px;
  border: 2px solid;
  border-color: #6169b8;
}

header,
h1 {
  background-color: #fff;
  font-size: 18px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div h1 {
  float: left;
}

.learn-about {
  margin-bottom: 40px;
}

.learn-about h2 {
  color: #48bb78;
  font-size: 24px;
}

main {
  clear: both;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  color: #6b7280;
  text-decoration: none;
}

nav ul li a:hover {
  color: #5a67d8;
}

.newsletter {
  background-color: #48bb78;
  color: #fff;
}

.newsletter div {
  width: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsletter h3 {
  text-align: center;
}

.overview-hero {
  background-color: #e2e8f0;
  padding-bottom: 40px;
  padding-top: 40px;
}

.overview-hero-image img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin: 20px;
}

.overview-hero .container {
  display: flex;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms--display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 18px;
}

.testing {
  background-color: #4a5568;
  color: #fff;
  margin-bottom: 50px;
  padding-bottom: 40px;
}
.testing .container {
  display: grid;
  grid-template-columns: 65% 35%;
}

.testing-desciption {
  grid-column: 1;
  margin: 10% 10% 10% 0%;
}

.stories {
  margin-bottom: 40px;
}

.stories h2,
.stories a {
  color: #5a67d8;
}
